<br/><br/>
<div class="jumbotron">
	<div class="row">
		<div class="col-md-7">
			<h1>Hello,</h1>
		  	<p>Welcome To Airline Ticket Booking System. Book Your Tickets In The Easiest Way!!</p>		
			<% if user_signed_in? %>
				<h2><%= link_to "Book Now", new_booking_path, class: "btn btn-primary btn-lg" %></h2>
			<% else %>
				<h2><%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg" %> now to book your ticket!</h2>
			<% end %>
		</div>
		<div class="col-md-5 text-center">
			<h1>Tickets left</h1>
			<h2><%= 819979196 - Booking.all.where('valid_ticket = ?', true).size %></h2>
			<h1>Tickets Issued</h1>
			<h2><%= Booking.all.where('valid_ticket = ?', true).size	 %></h2>
		</div>
	</div>  	
</div>
